.inner {
    max-width: $max-width;
    margin: 0 auto;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;

    @media #{$screen-large} {
        padding-left: 0;
        padding-right: 0;
    }
}
