.home {
     {

    }

    h1 {
        font-size: 60px;
        margin-bottom: 60px;
        max-width: 300px;

        br {
            line-height: 1.35;
        }

        @include media($tablet) {
            margin: 0 auto 60px;
        }

    }

    .btn-primary {
        margin-bottom: 10px;
        margin-right: 25px;

        @include media($tablet) {
            &:first-of-type {
                margin-left: 60px;
            }
        }

        @include media($mobile) {
            float: none;
            margin: 0 auto 25px;

            &:first-of-type {
                margin-left: auto;
            }
        }
    }
}
