// @todo revisit from jekyll site

* {
    box-sizing: border-box;
}

body {
    color: $body-text-color;
    margin: 0;
    padding: 0;
    font-family: $base-font;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}