// Typography

$karla: 'Karla', Arial, sans-serif;
$courier: 'CourierPrime', 'Courier New', Times, serif;
$courier-new: 'Courier New', Courier, Times, serif;
$griffos: 'GriffosFont';
$yanone: 'Yanone Kaffeesatz', sans-serif;
$josefin-slab: 'Josefin Slab', serif;
$open-sans: 'Open Sans', sans-serif;

$font-primary-nav: $courier;

$base-font: $yanone;

$base-font-size: 16px;
$base-line-height: 1.65;
$base-transition: all 0.5s ease;

$base-spacing-unit: 22px;
$minor-spacing-unit: 5px;