// Typography

$courier: 'CourierPrime', 'Courier New', Times, serif;
$courier-new: 'Courier New', Courier, Times, serif;
$griffos: 'GriffosFont';
$quicksand: 'Quicksand', sans-serif;

$font-primary-nav: $courier;

$base-font: $quicksand;

$base-font-size: 16px;
$base-line-height: 1.65;
$base-transition: all 0.5s ease;

$base-spacing-unit: 22px;
$minor-spacing-unit: 5px;