.footer {
    @include clearfix;
    margin: 120px auto 0;
    text-align: center;

    &__menu {
        display: inline-block;
        margin: 0 auto $base-spacing-unit;
        padding: 0;
        list-style-type: none;
    }

    &__menu-item {
        color: $color-base;
        display: inline-block;
        font: 14px $font-primary-nav;
        margin: 0 $base-spacing-unit;

        a {
            @extend .primary-link;
        }
    }
}