.primary-link {
    color: $body-text-color;
    padding-bottom: 2px;
    text-decoration: none;
    transition: $base-transition;

    &:hover,
    &:active {
        color: #030812;
    }

    &--underline {
        border-bottom: 1px dotted $body-text-color;

        &:hover,
        &:active {
            border-bottom: 1px dotted #030812;
        }
    }
}