.header {
  @include clearfix;

  display: flex;
  align-items: center;
  align-content: flex-start;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 ($base-spacing-unit * 2);
  width: 100%;

  @include media(print) {
    display: none;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__logo {
    height: 133px;
    margin: 0 auto;
    padding: 10px 0 0;
    transition: $base-transition;
    width: 245px;

    .svg-icon {
      height: 120px;
      width: 220px;
    }

    a {
      display: inline-block;
      width: 100%;
    }
  }

  &__menu {
    display: none;

    align-content: flex-start;
    padding: $base-spacing-unit * 2;
    position: absolute;
    transform: translateY(0);
    width: 100%;
    background-color: #F7F7F7;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;

    .svg-icon--menu-control {
      position: absolute;
      top: $base-spacing-unit * 2;
      transform: translateY(0);
      right: $base-spacing-unit * 2;
    }
  }
}
