.icon {
    float: left;
    text-indent: -999em;

    &:before {
        content: '';
        display: inline-block;
        background-size: contain;
        float: left;
    }

    &--modifier {
        &:before {
            background-image: url('images/icons/icon.svg');
        }
    }
}

.icon-svg {
    height: 22px;
    width: 22px;
    transition: $base-transition;

    &--instagram {
        fill: $print-black;

        &:hover,
        &:active {
            fill: #3f729b;
        }
    }

    &--twitter {
        fill: $print-black;

        &:hover,
        &:active {
            fill: #55acee;
        }
    }

    &--github {
        fill: $print-black;

        &:hover,
        &:active {
            fill: #333;
        }
    }

    &--linkedin {
        fill: $print-black;

        &:hover,
        &:active {
            fill: #0976b4;
        }
    }
}