.intro {
  @include font-size(19);
  margin: $base-spacing-unit auto 0;
  text-align: center;
  max-width: 305px;

  @include media(get-layout(small)) {
    max-width: 455px;
  }

  @include media(get-layout(medium)) {
    @include font-size(22);
  }

  p {
    margin: 0;
  }

  &:after {
    background-color: $color-primary;
    content: '';
    display: block;
    height: 3px;
    margin: ($base-spacing-unit * 2.5) auto 0;
    width: 160px;
  }
}