.primary-link {
    color: $color-base;
    padding-bottom: 2px;
    text-decoration: none;
    transition: $base-transition;

    &:hover,
    &:active {
        color: $green;
    }

    &--underline {
        border-bottom: 1px dotted $color-base;

        &:hover,
        &:active {
            border-bottom: 1px dotted $green;
        }
    }
}