.logo {
    height: 133px;
    margin: 0 auto;
    padding: 10px 0 0;
    @include transition($base-transition);
    width: 245px;

    @include media(get-layout(medium)) {
        display: inline-block;
        float: left;
        padding-left: 1em;
        padding-right: 1em;
    }

    a {
        display: inline-block;
        width: 100%;
    }
}

.logo-svg {
    width: 100%;
    height: auto;
}
