.logo {
    transition: $base-transition;

    @include media(get-layout(medium)) {
        height: 133px;
        width: 245px;
    }

    .svg-icon {
        height: 76px;
        width: 140px;

        @include media(get-layout(medium)) {
            height: 133px;
            width: 245px;
        }
    }

    a {
        display: inline-block;
        width: 100%;
    }
}