.nav-primary {
    margin: 0;

    ul {
        transition: $base-transition;
        display: inline-block;
        list-style-type: none;
        margin: $base-spacing-unit auto;
        padding: 0;
        width: 100%;

        li {

            a {
                @extend .primary-link;

                display: block;
                font: 15px $font-primary-nav;
                line-height: 1.8;
                color: #444E60;
                width: 100%;
            }

            &:nth-child(3) {
                margin-bottom: $base-spacing-unit;
            }
        }
    }
}

.nav-primary {
    display: none;
    position: absolute;
    padding: $base-spacing-unit;
    transform: translateY(0);
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F7F7F7;
    height: 100vh;
    z-index: 10;

    &.active {
        display: block;
    }
}

.menu-icon {
 @extend %button-reset;

 .icon-svg {
 fill: $color-base;
 }
}
