.teaser {
  margin: ($base-spacing-unit / 2) 0 $base-spacing-unit ;
  &__link {
    color: $font-body-color;
    text-decoration: none;

    &:hover,
    &:active {
      > .teaser__title {
        text-decoration: underline;
      }
    }
  }

  &__title {
    margin-top: 0;
  }

  &__date {
    color: $grey;
    font-family: $yanone;
    font-size: 90%;
    margin-bottom: $minor-spacing-unit;

    @include media(get-layout(large)) {
      margin-bottom: 0;
      padding-top: 32px;
      text-align: right;
    }

    br {
      @include media($breakpoint-large-below) {
        display: none;
      }
    }
  }
}