{% load static wagtailuserbar %}
{% load menu_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
        <link rel="shortcut icon" href="" /> <!-- favicon.png -->
        <link rel="canonical" href=""> <!-- base url or page url -->

        <!--<link rel="stylesheet" href="{% static 'css/print.min.css' %}" media="print" />-->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:700" rel="stylesheet" />
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="{% block body_class %}{% endblock %}">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KRGW7G"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KRGW7G');</script>
<!-- End Google Tag Manager -->

{% include "inline_svg.html" %}

      <header class="header" content="header">
        <div class="inner">
          <div class="logo">
            <a href="/" title="Ashlie Webb, UX designer and front end developer">
              <svg class="svg-icon"><use xlink:href="#logo"></use></svg>
            </a>
          </div>
            <button class="js-menu-open-button menu-icon">
                <svg class="icon-svg"><use xlink:href="#menu"></use></svg>
            </button>
        </div>
          <nav class="js-menu nav-primary" role="navigation">
              <div class="inner">
                  <button class="js-menu-close-button menu-icon close-icon">
                      <svg class="icon-svg"><use xlink:href="#close"></use></svg>
                  </button>
                  <div class="nav-primary__section-wrap">
                      <div class="breadcrumbs nav-primary__section">
                          <span><a href="/" title="Home">Home</a>{% if self.slug != 'home' %} > </span>{{ self.title }}{% endif %}
                      </div>

                      {% main_menu %}

                      <section class="nav-contact nav-primary__section">
                          <h3>Get in touch</h3>

                          <div class="contact-item">
                              <a href="mailto:greetings@ashliewebb.com" title="Email Ashlie Webb" class="contact-item__icon">
                                  <svg class="icon-svg icon-svg--envelope"><use xlink:href="#envelope"></use></svg>
                              </a>
                              <p><span class="text--smaller">Email</span><br />
                                  <a href="mailto:greetings@ashliewebb.com" title="Email Ashlie Webb">greetings@ashliewebb.com</a></p>
                          </div>

                          <div class="contact-item">
                              <a href="https://www.linkedin.com/in/ashliewebb/" title="View Ashlie's Linkedin profile" class="contact-item__icon">
                                  <svg class="icon-svg icon-svg--linkedin"><use xlink:href="#linkedin"></use></svg>
                              </a>
                              <p><span class="text--smaller">Linkedin</span><br />
                                  <a href="https://www.linkedin.com/in/ashliewebb/" title="View Ashlie's Linkedin profile">ashliewebb</a></p>
                          </div>
                          <div class="contact-item">
                              <a href="https://twitter.com/ashlie012" title="View Ashlie's Twitter activity" class="contact-item__icon">
                                  <svg class="icon-svg icon-svg--twitter"><use xlink:href="#twitter"></use></svg>
                              </a>
                              <p><span class="text--smaller">Twitter</span><br />
                                  <a href="https://twitter.com/ashlie012" title="View Ashlie's Twitter activity">ashlie012</a></p>
                          </div>

                          <div class="contact-item">
                              <a href="https://github.com/ashliewebb" title="View Ashlie's Github profile" class="contact-item__icon">
                                  <svg class="icon-svg icon-svg--github"><use xlink:href="#github"></use></svg>
                              </a>
                              <p><span class="text--smaller">Github</span><br />
                                  <a href="https://github.com/ashliewebb" title="View Ashlie's Github profile">ashliewebb</a></p>
                          </div>
                      </section>
                  </div>
              </div>
          </nav>
      </header>

      <main class="main-container" role="main">
          <div class="inner">
              {% block content %}{% endblock %}
          </div>
      </main>

      <footer id="footer" class="footer" role="contentinfo">
          <div class="inner">
              <ul class="footer__menu">
                  <li class="footer__menu-item">&copy; Ashlie Webb {% now "Y" %}</li>
                  {% flat_menu 'footer_menu' %}
              </ul>
          </div>
      </footer>

      {% wagtailuserbar %}

      {# Global javascript #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <script src="{% static 'js/common/menu.js' %}"></script>
      <script src="{% static 'js/awpython.js' %}"></script>

      {% block extra_js %}
          {# Override this in templates to add extra javascript #}
      {% endblock %}
    </body>
</html>
