{% load static wagtailuserbar %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
        <link rel="shortcut icon" href="" /> <!-- favicon.png -->
        <link rel="canonical" href=""> <!-- base url or page url -->

        <!--<link rel="stylesheet" href="{% static 'css/print.min.css' %}" media="print" />-->
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css" />

        <!-- Hotjar Tracking Code for http://www.ashliewebb.com -->
        <script>
          (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:260870,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
          })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="{% block body_class %}{% endblock %}">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KRGW7G"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KRGW7G');</script>
<!-- End Google Tag Manager -->

{% include "inline_svg.html" %}

      <header class="header" content="header">
        <div class="inner">
          <div class="logo">
            <a href="/" title="Ashlie Webb, UX designer and front end developer">
              <svg class="svg-icon"><use xlink:href="#logo"></use></svg>
            </a>
          </div>
          <nav class="nav-primary" role="navigation">
            <ul>
              <li class="first"><a href="/portfolio" title="Portfolio">Portfolio</a></li>
              <li><a href="/about" title="About">About</a></li>
              <li><a href="/blog" title="Read blog">Blog</a></li>
              <li class="last"><a href="/contact" title="Contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main class="main-container" role="main">
          <div class="inner">
              {% block content %}{% endblock %}
          </div>
      </main>

      <footer id="footer" class="footer" role="contentinfo">
        <div class="inner">
          <em>&copy; Ashlie Webb 2016</em>
          <!--<em><a href="{{ site.baseurl }}sitemap.html">Sitemap</a></em>-->
          <!--<em><a href="{{ site.baseurl }}privacy.html" id="link__footer&#45;&#45;privacy">Privacy</a></em>-->
          <!--<em><a href="{{ site.baseurl }}style-guide/">Style guide</a></em> -->
          <em><a href="/resume.html">Resum&eacute;</a></em>
          <nav class="nav-footer">
            <ul>
              <li>
                  <a href="https://twitter.com/ashlie012">
                      <svg class="icon-svg icon-svg--twitter"><use xlink:href="#twitter"></use></svg>
                  </a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/ashliewebb/">
                      <svg class="icon-svg icon-svg--linkedin"><use xlink:href="#linkedin"></use></svg>
                  </a>
              </li>
              <li>
                  <a href="https://github.com/ashliewebb">
                      <svg class="icon-svg icon-svg--github"><use xlink:href="#github"></use></svg>
                  </a>
              </li>
              <li>
                  <a href="http://instagram.com/ashliewebb">
                      <svg class="icon-svg icon-svg--instagram"><use xlink:href="#instagram"></use></svg>
                  </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>

      {% wagtailuserbar %}

      {# Global javascript #}
      <script type="text/javascript" src="{% static 'js/awpython.js' %}"></script>

      {% block extra_js %}
          {# Override this in templates to add extra javascript #}
      {% endblock %}
    </body>
</html>
