<div class="header__menu">
    <p content="breadcrumbs" class="breadcrumbs">Home > ...</p>
    <svg class="svg-icon svg-icon--menu-control"><use xlink:href="#close"></use></svg>
    <nav class="nav-primary" role="navigation">
        <ul>
            <li class="first"><a href="/portfolio" title="Portfolio">Portfolio</a></li>
            <li><a href="/about" title="About">About</a></li>
            <!--<li><a href="/blog" title="Read blog">Blog</a></li>-->
            <li class="last"><a href="/contact" title="Contact">Contact</a></li>
        </ul>
    </nav>
</div>